:root {
  --primary-brand: #4d5ae5; /*iris*/
  --pressed-state: #404bbf; /*ocean*/
  --dark: #2e2f42; /*navy-blue*/
  --success: #31d0aa; /*green*/
  --text: #434455; /*slate*/
  --subtle-text: #8e8f99; /*light-slate*/
  --accent: #e7e9fc; /*cornflower*/
  --light: #f4f4fd; /*cloud*/
  --modal-overlay: #2e2f4266; /*navy-blue-modal*/
  --hero-background: #2e2f42b3; /*grey*/
  --extra-light: #ffffff; /*white*/
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  letter-spacing: 0.02em;
}
.visually-hidden {
  /*візуальне приховування елементів*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
/*fonts*/
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.header-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.header-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.body-medium-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.link-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  text-decoration: underline;
}
/*font colors*/
.primary-brand {
  color: var(--primary-brand); /*iris*/
}
.pressed-state {
  color: var(--pressed-state); /*ocean*/
}
.dark {
  color: var(--dark); /*navy-blue*/
}
.text {
  color: var(--text); /*slate*/
}
.subtle-text {
  color: var(--subtle-text); /*light-slate*/
}
.accent {
  color: var(--accent); /*cornflower*/
}
.light {
  color: var(--light); /*cloud*/
}
.extra-light {
  color: var(--extra-light); /*white*/
}
/*background colors*/
.bg-primary-brand {
  background-color: var(--primary-brand); /*iris*/
}
.bg-ocean {
  background-color: var(--pressed-state); /*ocean*/
}
.bg-dark {
  background-color: var(--dark); /*navy-blue*/
}
.bg-success {
  background-color: var(--success); /*green*/
}
.bg-text {
  background-color: var(--text); /*slate*/
}
.bg-subtle-text {
  background-color: var(--subtle-text); /*light-slate*/
}
.bg-accent {
  background-color: var(--accent); /*cornflower*/
}
.bg-light {
  background-color: var(--light); /*cloud*/
}
.bg-modal-overlay {
  background-color: var(--modal-overlay); /*navy-blue-modal*/
}
.bg-hero-background {
  background-color: var(--hero-background); /*grey*/
}
.bg-extra-light {
  background-color: var(--extra-light); /*white*/
}
/*buttons*/
.main-button {
  padding: 16px 32px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--extra-light);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: flex;
}
.main-button:is(:hover, :focus) {
  background-color: var(--pressed-state);
}
.filter-button {
  padding: 16px 32px;
  background-color: var(--light);
  border-radius: 4px;
  border: 1px solid var(--accent);
  color: var(--primary-brand);
  cursor: pointer;
  transition-property: background-color, box-shadow, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.filter-button:is(:hover, :focus) {
  background-color: Var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed-state);
  color: var(--extra-light);
}
/***mobile***/
.container {
  width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
/*header*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-menu {
  position: absolute;
}
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
/*footer*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-description {
  width: 268px;
  margin: 0 auto 72px auto;
}
.footer-description-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-description-text {
}
.footer-social {
  margin-bottom: 72px;
}
.footer-social-title {
  text-align: center;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-list > li:not(:last-child) {
  margin-right: 16px;
}
.footer-social-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--light);
  width: 40px;
  height: 40px;
  padding: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer-social-link:is(:hover, :focus) {
  background-color: var(--success);
}
.footer-social-link-icon {
  fill: currentColor;
}
.footer-form-container {
  text-align: center;
}
.footer-form-title {
  text-align: center;
  margin-bottom: 16px;
}
.footer-form {
}
.footer-form-input {
}
.footer-form-button {
}
.footer-form-icon {
}
